@import "../../styles/settings.scss";

.button {
    width: 200px;
    align-self: center;
    background: $color-hot-pink;
    border: 0;
    color: $color-light;
    text-align: center;
    line-height: 1.3;
    padding: 20px;
    border-radius: $radius;
    cursor: pointer;
    font-weight: 600;
    transition: $transition;

    &:hover {
        background: darken($color-hot-pink, 5%);
    }
}
